@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* gradient color in border */
.btn-gradient {
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(255, 0, 76));
  border: none;
  color: white;
  position: relative;
  overflow: hidden;
}

.btn-gradient:after {
  content: "";
  background: black;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 9999px;
}

.btn-gradient-text {
  background: linear-gradient(to right, rgb(0, 166, 255), rgb(255, 0, 76));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  position: relative;
}

.hero-gradient {
  background: linear-gradient(to right, rgb(0, 166, 255), rgb(255, 0, 76));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
